body {
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

a {
    color: black;
}

header {
    background-color: white;
    margin: 0px;
    padding: 10px;
    font-size: 2rem;
}

main {
    font-size: 1.5rem;
    padding: 50px;
}